@media (max-width: 991px) {
    .card button{
        flex-wrap: wrap;
    }
}
.text-content{
    width:100%;
}
.navigation-wrap .navbar-brand img{
    height: 4.8125rem;

}
.navigation-wrap{
    text-align: center;

}
.navigation-wrap .nav-link{
    line-height: 1.875rem;
    color:black;
}
.top-banner{
    padding: 9.375rem 0 9.275rem;
}

.luxuary .carousel-caption {
    padding: 0;
}
.navbar-collapse{
    background-color: #3d3f3f;
}
@media(max-width: 767px){
    .navbar-collapse{
        background-color: #3d3f3f;
    }
    h1{
    font-size: 2.8rem;
}
    h2{
        font-size: 1.3rem;
        line-height: 28px;
    }
    .top-banner{
        padding: 10.375rem 0 9.375rem;
    }
    .luxuary-section .carousel-caption p{
        padding: 11rem 3.125rem;
    }
}
@media(max-width: 330px){
    .luxuary-section .carousel-item{
        padding: 13rem 3.125rem;

    }

}